.button-layout {
    display: grid;
    padding-left: 150px;
    padding-top: 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    width: 70%;
  }
  
  .medium-button {
    width: 70%;
    height: 180%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
  }
  
  .medium-button:hover {
    background-color: #0056b3;
  }
  